.custom-modal .ant-modal-body {
    max-height: calc(100vh - 300px);
    overflow-y: auto;
}

.custom-modal .ant-list-item-meta-content {
    overflow: hidden;
    white-space: nowrap;
}

.custom-modal .ant-list-item-meta-title {
    overflow: hidden;
    text-overflow: ellipsis;
}

.custom-tbl-assessment .ant-table-container table > tbody >  tr:first-child > td:last-child {
    border-top-right-radius: 12px;
}

.custom-tbl-assessment .ant-table-container table > tbody >  tr:first-child > td:first-child {
    border-top-left-radius: 12px;
}

.custom-tbl-assessment .ant-table-container table > tbody > tr > td:last-child > button svg {
    display: none;
}

.table-persons .ant-table-tbody > tr.ant-table-row-selected > td:nth-child(4) {
    cursor: not-allowed;
}

.table-persons .ant-table-tbody > tr.ant-table-row-selected > td:nth-child(4) > a {
    pointer-events: none;
}

.table-persons .ant-table-tbody > tr.ant-table-row-selected > td:last-child {
    cursor: not-allowed;
}

.table-persons .ant-table-tbody > tr.ant-table-row-selected > td:last-child > button{
    pointer-events: none;
}

.table-group-persons .ant-table-tbody > tr.ant-table-row-selected > td:last-child {
    cursor: not-allowed;
}

.table-group-persons .ant-table-tbody > tr.ant-table-row-selected > td:last-child > button {
    pointer-events: none;
}

.table-surveys .ant-table-tbody > tr.ant-table-row-selected > td:last-child {
    cursor: not-allowed;
}

.table-surveys .ant-table-tbody > tr.ant-table-row-selected > td:last-child > button {
    pointer-events: none;
}


/* Diseño para perfiles de kuiz */

.elements_delete{
    max-height: 300px;
    overflow: auto;
}

.elements_delete .ant-list-sm .ant-list-item {
    padding: 4px 0px;
}

.scroll-bar::-webkit-scrollbar {
    width: 18px;
}

.scroll-bar::-webkit-scrollbar-track {
    background: none;
    border: none;
}

.scroll-bar::-webkit-scrollbar-thumb {
    background: #cccccc;
    background-clip: padding-box;
    border: 6px solid transparent;
    border-radius: 10px;
    box-shadow: none;
    min-height: 50px;
}

/* Termina diseño perfiles de kuiz */