.custom-modal .ant-modal-body {
    max-height: calc(100vh - 300px);
    overflow-y: auto;
}

.custom-modal .ant-list-item-meta-content {
    overflow: hidden;
    white-space: nowrap;
}

.custom-modal .ant-list-item-meta-title {
    overflow: hidden;
    text-overflow: ellipsis;
}

.custom-tbl-assessment .ant-table-container table > tbody >  tr:first-child > td:last-child {
    border-top-right-radius: 12px;
}

.custom-tbl-assessment .ant-table-container table > tbody >  tr:first-child > td:first-child {
    border-top-left-radius: 12px;
}

.custom-tbl-assessment .ant-table-container table > tbody > tr > td:last-child > button svg {
    display: none;
}

.table-persons .ant-table-tbody > tr.ant-table-row-selected > td:nth-child(4) {
    cursor: not-allowed;
}

.table-persons .ant-table-tbody > tr.ant-table-row-selected > td:nth-child(4) > a {
    pointer-events: none;
}

.table-persons .ant-table-tbody > tr.ant-table-row-selected > td:last-child {
    cursor: not-allowed;
}

.table-persons .ant-table-tbody > tr.ant-table-row-selected > td:last-child > button{
    pointer-events: none;
}

.table-group-persons .ant-table-tbody > tr.ant-table-row-selected > td:last-child {
    cursor: not-allowed;
}

.table-group-persons .ant-table-tbody > tr.ant-table-row-selected > td:last-child > button {
    pointer-events: none;
}

.table-surveys .ant-table-tbody > tr.ant-table-row-selected > td:last-child {
    cursor: not-allowed;
}

.table-surveys .ant-table-tbody > tr.ant-table-row-selected > td:last-child > button {
    pointer-events: none;
}


/* Diseño para perfiles de kuiz */

.elements_delete{
    max-height: 300px;
    overflow: auto;
}

.elements_delete .ant-list-sm .ant-list-item{
    padding: 4px 0px;
}

.scroll-bar::-webkit-scrollbar {
    width: 18px;
}

.scroll-bar::-webkit-scrollbar-track {
    background: none;
    border: none;
}

.scroll-bar::-webkit-scrollbar-thumb {
    background: #cccccc;
    background-clip: padding-box;
    border: 6px solid transparent;
    border-radius: 10px;
    box-shadow: none;
    min-height: 50px;
}

/* Termina diseño perfiles de kuiz */

/* Diseño reportes kuiz */

.content_header{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 16px;
    justify-content: space-between;
}

.content_inputs{
    display: flex;
    gap: 16px;
}

.content_inputs_element p{
    margin-bottom: 0px;
}

.content_inputs_element svg{
    margin: auto;
}

.content_inputs_element{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.content_inputs_element .ant-radio-button-wrapper{
    width: 50%;
    text-align: center;
    color: #000000;
}

.content_inputs_element .ant-radio-button-wrapper:first-of-type{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.content_inputs_element .ant-radio-button-wrapper:last-of-type{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.content_inputs_element .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled)::before {
    background-color: transparent;
}

.content_inputs_element .ant-radio-button-wrapper-checked:not([class*=' ant-radio-button-wrapper-disabled']).ant-radio-button-wrapper:first-child {
    border-right-color: #8e88e7;
    background-color: #8e88e7;
    color: white!important;
    border-color: #8e88e7;
}

.content_inputs_element .ant-radio-button-wrapper-checked:not([class*=' ant-radio-button-wrapper-disabled']).ant-radio-button-wrapper:last-child {
    border-right-color: #e7b488;
    background-color: #e7b488;
    color: white!important;
    border-color: #e7b488;
}

.items_selected .ant-table{
    background: #f0f0f0;
    box-shadow: none;
}

.items_selected .ant-table-cell-fix-left,
.items_selected .ant-table-cell-fix-right{
    background: #f0f0f0;
}

.items_selected .ant-table-tbody > tr > td {
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}

.items_selected .ant-table-tbody > tr.ant-table-expanded-row > td{
    background: #f0f0f0;
}

.items_selected .ant-table-tbody > tr.ant-table-expanded-row .ant-table{
    background: #fafafa;
}

.items_selected .ant-table-tbody > tr.ant-table-expanded-row .ant-table-thead > tr > th{
    background: #fafafa;
}

.items_selected .ant-table-empty .ant-table-tbody > tr.ant-table-placeholder{
    color: #000000;
}

.items_selected .ant-table-tbody > tr.ant-table-expanded-row .ant-table-tbody > tr.ant-table-row:hover > td, .ant-table-tbody > tr > td.ant-table-cell-row-hover {
    background: #f0f0f0;
}

.items_selected .ant-table-thead > tr > th{
    background: #f0f0f0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}

.info_user {
    background-color: #f0f0f0;
    border-radius: 12px;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 16px;
    box-shadow: -3px 3px 5px 0px rgb(0 0 0 / 20%);
}

/* .info_user .ant-avatar{
    box-shadow: -1px 3px 5px 2px rgb(0 0 0 / 20%);
} */

.info_user_text {
    width: calc(100% - 106px);
}

.info_user_text p {
    margin-bottom: 0px;
    line-height: 1.3;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.info_user_text p:nth-child(1){
    font-size: 24px;
}

.info_user_text p:nth-child(2),
.info_user_text p:nth-child(3) {
    font-size: 16px;
}

.info_user_text p:nth-child(2) span,
.info_user_text p:nth-child(3) span {
    color: #c0c0c0;
}
/* 
.info_user_text p:last-of-type {
    font-size: 16px;
    color: #c0c0c0;
} */

.fade_in{
    animation: fade-in 0.3s ease-in;
}

@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }   
}

/* Termina diseño reportes kuiz */


/* Diseño para bolsa de trabajo */

.modal-tabs-clients .tab-client,
.modal-tabs-clients .tab-contact {
    margin-top: 24px;
    margin-left: 12px!important;
    margin-right: 12px!important;
}

.modal-tabs-clients .tab-documents{
    margin: 12px!important;
}

.content-register-client .tab-documents{
    padding: 12px;
    background: #f0f0f0;
    border-radius: 12px;
}

.content-register-client .item-list-files:hover{
    background: #ffff;
    transition: all 0.5s;
}

.content-list-files{
    display: flex;
    flex-direction: column;
    gap: 16px;
    background: #f0f0f0;
    border-radius: 12px;
    padding: 12px;
}

.head-list-files {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 8px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}

.placeholder-list-files{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    margin-bottom: 24px;
    opacity: 1;
    transition: all 1s;
}

.placeholder-list-files p{
    margin-bottom: 0px;
    color: #d9d9d9;
    font-size: 1rem;
    font-weight: 400;
}

.body-list-files{
    display: flex;
    flex-direction: column;
    transition: all 1s;
    min-height: 100px;
    max-height: 200px;
    overflow: auto;
}

.item-list-files{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5px;
    border-radius: 12px;
    transition: all 0.5s;
}

.item-list-files:hover{
    background: #f0f0f0;
    transition: all 0.5s;
}

.item-list-files p{
    margin-bottom: 0px;
    max-width: 70%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item-list-options {
    display: flex;
    align-items: center;
    gap: 12px;
}

.title-action-text{
    margin-bottom: 0px;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.2;
}

.title-action-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}

.title-action-border{
    padding-bottom: 8px;
    border-bottom: 1px solid #f0f0f0;
}

.tabs-vacancies:not(.mode1) > .ant-tabs-card .ant-tabs-content > .ant-tabs-tabpane {
    padding-top: 12px;
    border-top: 1px solid #f0f0f0;
    transition: all 0.5s;
}

.tabs-vacancies.mode1 > .ant-tabs-card .ant-tabs-content > .ant-tabs-tabpane {
    padding: 12px 16px;
}

.tabs-vacancies.mode1 > .ant-tabs-card .ant-tabs-content{
    background-color: rgba(0,0,0,0.03);
    border: 1px solid rgba(0,0,0,0.06);
    border-radius: 0px 0px 10px 10px;
}

.tabs-vacancies > .ant-tabs-card > .ant-tabs-nav::before {
    display: none;
}
.tabs-vacancies > .ant-tabs-card .ant-tabs-tab{
    background: transparent;
    border-color: transparent;
}

.tabs-vacancies:not(.mode1) > .ant-tabs-card .ant-tabs-tab-active {
    background: #f0f0f0;
    border-color: #f0f0f0;
    transition: all 0.5s;
}
.tabs-vacancies.mode1 > .ant-tabs-card .ant-tabs-tab-active {
    background-color: rgba(0,0,0,0.03);
    border: 1px solid rgba(0,0,0,0.06);
    border-bottom-color: transparent;
    transition: all 0.5s;
}

.tabs-vacancies:not(.mode1) .ant-tabs-card.ant-tabs-top > .ant-tabs-nav div.ant-tabs-tab-active,
.tabs-vacancies:not(.mode1) .ant-tabs-card.ant-tabs-top > div > .ant-tabs-nav div.ant-tabs-tab-active{
    border-bottom-color: #f0f0f0;
}

.tabs-vacancies .ant-tabs-card.ant-tabs-left > .ant-tabs-nav div.ant-tabs-tab-active,
.tabs-vacancies .ant-tabs-card.ant-tabs-left > div > .ant-tabs-nav div.ant-tabs-tab-active {
    border-right-color: #f0f0f0;
}

.tabs-vacancies .ant-tabs-card.ant-tabs-left > .ant-tabs-nav .ant-tabs-tab:not(.ant-tabs-tab-active):first-child,
.tabs-vacancies .ant-tabs-card.ant-tabs-left > div > .ant-tabs-nav .ant-tabs-tab:not(.ant-tabs-tab-active):first-child {
    border-top: 1px solid #f0f0f0;
}

.tabs-vacancies .ant-tabs-left > .ant-tabs-content-holder
> .ant-tabs-content > .ant-tabs-tabpane, .ant-tabs-left > div
> .ant-tabs-content-holder > .ant-tabs-content > .ant-tabs-tabpane {
    padding-left: 12px;
}

.tab-vacancies-btns{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
}

.turn_rotative{
    display: flex;
    align-items: center;
    gap: 8px;
}

.turn_rotative > .custom-required::before{
    display: inline-block;
    margin-right: 4px;
    color: #ff4d4f;
    font-size: 14px;
    font-family: SimSun, sans-serif;
    line-height: 1;
    content: '*';
}

.turn_rotative .ant-form-item-control-input{
    min-height: 0px;
}

.turn_rotative_content{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: auto 0;
}

.range_age_content .ant-input-number{
    width: calc(50% - 16px);
    border: 1px solid black;
    box-shadow: none;
}

.range_age_content .ant-input-number input{
    text-align: center;
}

.range_age_content .ant-input-number.min_age{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-right: none;
}

.range_age_content .ant-input-number.max_age{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-left: none;
}

.list_interviewers .ant-list-sm{
    border-radius: 12px;
    padding: 12px;
    background: #f0f0f0;
}

.list_interviewers .ant-list-sm .ant-list-header{
    padding-top: 0px;
    border-bottom: 1px solid #cccc; 
}

.list_interviewers .ant-list-sm .ant-list-items{
    max-height: 190px;
    overflow: auto;
}

.list_interviewers .ant-list-sm .ant-list-item{
    padding: 4px 8px;
}

.content-register-client,
.content-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-end{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.vacant-list-fields .ant-divider-horizontal.ant-divider-with-text::before,
.vacant-list-fields .ant-divider-horizontal.ant-divider-with-text::after {
    transform: none;
}

.section-list-fields .ant-checkbox-wrapper:hover{
    background: #ede5de;
    border-radius: 8px;
}

.section-list-fields .ant-checkbox-wrapper-checked.ant-checkbox-wrapper-disabled span{
    color: #000000;
}

.section-list-fields .ant-checkbox-disabled.ant-checkbox-checked .ant-checkbox-inner::after {
    border-color: #ffff;
}

.list-access{
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    gap: 24px;
}

.card-access{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    background: var(--primaryColor);
    padding: 24px;
    border-radius: 12px;
    box-shadow: -3px 3px 5px 0px rgb(0 0 0 / 20%);
    transition: all 0.3s ease-out;
    cursor: pointer;
}

.card-access .anticon:not(.anticon-info-circle){
    color: #ffff;
    font-size: 2rem;
}

.card-access .anticon-info-circle{
    color: #ffff;
    position: absolute;
    top: 10px;
    right: 10px;
}

.card-access p{
    margin-bottom: 0px;
    font-size: 1.5rem;
    font-weight: 400;
    color: #ffff;
}

/* .card-access:hover{
    transition: all 0.3s ease-in;
    transform: translateY(-5px);
} */

.tabs-connections > .ant-tabs-card .ant-tabs-content > .ant-tabs-tabpane {
    padding-top: 24px;
    padding-right: 24px;
    transition: all 0.5s;
}
.tabs-connections > .ant-tabs-card .ant-tabs-tab{
    background: transparent;
    border: none;
    padding: 12px 24px;
}

.tabs-connections > div.ant-tabs-card div.ant-tabs-nav-list >  div.ant-tabs-tab:hover,
.tabs-vacancies > div.ant-tabs-card div.ant-tabs-nav-list >  div.ant-tabs-tab:hover,
.tabs-disabled > div.ant-tabs-card div.ant-tabs-nav-list >  div.ant-tabs-tab:hover{
    color: rgba(0, 0, 0, 0.25)!important;
}

.tabs-connections > .ant-tabs-card .ant-tabs-tab-active {
    background: #f0f0f0;
    border-color: #f0f0f0;
    transition: all 0.5s;
}

.name-connection{
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 8px;
}

button.btn-login-facebook{
    margin-right: auto;
    border-color: transparent!important;
    background: linear-gradient(
        to bottom right,
        #3b5998,
        #4e71ba
    )
}

button.btn-login-facebook:hover,
button.btn-login-facebook:visited,
button.btn-login-facebook:active,
button.btn-login-facebook:focus{
    border-color: transparent!important;
    background: linear-gradient(
        to bottom right,
        #3b5998,
        #4e71ba
    );
}

button.btn-login-facebook[disabled],
button.btn-login-facebook[disabled]:hover,
button.btn-login-facebook[disabled]:focus,
button.btn-login-facebook[disabled]:active {
    color: rgba(0, 0, 0, 1);
    border-color: #d9d9d9;
    background: linear-gradient(
        to bottom right,
        #3b5998,
        #4e71ba
    );
    text-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

div.estatus-connection-error{
    padding: 4px 15px;
    color: #f0f0f0;
    background-color: #dc3545
}

div.estatus-connection-success{
    padding: 4px 15px;
    color: #f0f0f0;
    background-color: #28a745
}

div.estatus-connection p{
    margin-bottom: 0px;
}

.table-custom .ant-table-thead tr > th.ant-table-cell{
    background: #f0f0f0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}

.table-custom .ant-table-tbody > tr > td{
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}

.table-custom .ant-table-tbody > tr.ant-table-row:hover > td,
.table-custom .ant-table-tbody > tr > td.ant-table-cell-row-hover,
.table-custom .ant-table-tbody > tr.ant-table-placeholder:hover > td,
.table-custom .ant-table-tbody{
    background: #f0f0f0;
}

.table-title-custom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}

.table-title-custom p{
    margin-bottom: 0px;
    font-weight: 600;
    font-size: 1rem;
}

button.custom-btn {
    background-color: #1f2733!important;
    transition: display 0.5s;
    /* transition-delay: 1000ms; */
}

.custom-cascader-empty{
    width: 100%;
}
.custom-cascader-empty div.ant-select-selector{
    border-radius: 10px!important;
}
.custom-cascader{
    width: calc(100% - 32px);
}

.custom-cascader div.ant-select-selector{
    border-top-left-radius: 10px!important;
    border-bottom-left-radius: 10px!important;
}

.content-list-items{
    display: flex;
    flex-direction: column;
    gap: 8px;
    border: 1px solid #d9d9d9;
    border-radius: 12px;
    /* border-left: 1px solid #d9d9d9; */
    /* border-bottom: 1px solid #d9d9d9; */
    /* border-right: 1px solid #d9d9d9; */
    /* border-bottom-left-radius: 12px; */
    /* border-bottom-right-radius: 12px; */
    padding: 12px;
}

.head-list-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 4px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}

.placeholder-list-items{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    transition: all 1s;
}

.placeholder-list-items.graph{
    padding: 16px;
    flex-direction: column;
    width: 100%;
    height: 100%;
    box-shadow: 0px 3px 5px 0px rgb(0 0 0 / 20%);
    border-radius: 10px;
}

.placeholder-list-items p{
    margin-bottom: 0px;
    color: #d9d9d9;
    font-size: 1rem;
    font-weight: 400;
}

.body-list-items{
    display: flex;
    gap: 8px;
    align-items: center;
    flex-flow: row wrap;
    transition: all 1s;
}

.item-list-row{
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 5px 10px;
    border-radius: 12px;
    transition: all 0.5s;
}

.item-list-row p{
    margin-bottom: 0px;
    line-height: 1;
}

.item-list-row.normal{
    background-color: #f0f0f0;
    border: 1px solid #cccc;
}

.item-list-row.default{
    background-color: #ede5de;
    border: 1px solid #e7b488;
}

.title-history{
    display: flex;
    background: #ffff;
    padding: 5px;
    border-radius: 10px;
    max-width: 100%;
}

.title-history p{
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 500;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.title-history p:nth-child(2){
    color: rgba(0, 0, 0, 0.3);
}

.radio-group-options .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled),
.radio-group-options .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover {
    color: #fff;
    background: var(--primaryColor);
    border-color: var(--primaryColor);
}

.radio-group-options .ant-radio-button-wrapper:hover {
    position: relative;
    color: var(--primaryColor);
}

.radio-group-options .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled)::before {
    background-color: var(--primaryColor);
}

.btn-tag-copy {
    width: 100%;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 12px;
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    cursor: copy;
    padding: 1px 6px;
    text-align: center;
}

.items-selected{
    border: 1px solid #dddd;
}

.items-to-list,
.items-selected{
    display: flex;
    flex-direction: column;
    gap: 8px;
    overflow: auto;
    max-height: 300px;
    background-color: #ffff;
    padding: 4px 8px;
    border-radius: 8px;
}

.items-selected > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.items-selected > div:not(:last-child){
    border-bottom: 1px solid #f0f0f0;
    padding-bottom: 4px;
}

.items-to-list > div{
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.items-to-list > div p,
.items-selected > div p{
    margin-bottom: 0px;
    line-height: 1.2;
}

.items-to-list > div p:nth-child(2){
    color: rgba(0, 0, 0, 0.4);
}

.btn-jb-disabled button.ant-btn[disabled],
.btn-jb-disabled button.ant-btn[disabled]:hover,
.btn-jb-disabled button.ant-btn[disabled]:focus,
.btn-jb-disabled button.ant-btn[disabled]:active {
    border-color: #d9d9d9!important;
    background-color: #f5f5f5!important;
}

.btn-jb-disabled button.ant-btn[disabled] > span,
.btn-jb-disabled button.ant-btn[disabled]:hover > span,
.btn-jb-disabled button.ant-btn[disabled]:focus > span,
.btn-jb-disabled button.ant-btn[disabled]:active > span {
    color: inherit!important;
}

div.calendar-interviews{
    background: transparent;
}

div.calendar-interviews .ant-picker-panel{
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

div.calendar-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px;
    background-color: #ffff;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

div.calendar-header.border-card{
    border-bottom: 1px solid #f0f0f0;
}

div.calendar-interviews.open .ant-picker-panel{
    display: block;
}

div.calendar-interviews.close .ant-picker-panel{
    display: none;
}

div.calendar-interviews .ant-picker-panel .ant-picker-body th {
    height: inherit;
    line-height: inherit;
    padding: 8px;
    text-align: center;
}

div.calendar-interviews .ant-picker-date-panel .ant-picker-body{
    padding: 8px 12px;
}

/* div.calendar-interviews .ant-picker-panel .ant-picker-calendar-date-content {
    
} */

div.calendar-interviews .ant-picker-panel .ant-picker-calendar-date-content::-webkit-scrollbar {
    width: 12px;
}

div.calendar-interviews .ant-picker-panel .ant-picker-calendar-date-content::-webkit-scrollbar-track {
    background: none;
    border: none;
}

div.calendar-interviews .ant-picker-panel .ant-picker-calendar-date-content::-webkit-scrollbar-thumb {
    background: #cccccc;
    background-clip: padding-box;
    border: 4px solid transparent;
    border-radius: 10px;
    box-shadow: none;
    min-height: 50px;
}

div.calendar-header .calendar-title{
    display: flex;
    align-items: center;
    gap: 8px;
}

div.calendar-header .calendar-title button{
    background-color: transparent;
    border: 1px solid #f0f0f0;
    padding: 6px 12px;
    color: rgb(60,64,67);
    cursor: pointer;
    font-weight: 500;
}

div.calendar-header .calendar-title p{
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 0px;
    transition: all 0.5s ease-out;
}

div.calendar-header .calendar-title p[role='stop']{
    color: #dc3545;
}

div.calendar-header .calendar-title button[role='prev'],
div.calendar-header .calendar-title button[role='next']{
    border-radius: 50%;
}

div.calendar-header .calendar-title button:hover,
div.calendar-header .calendar-title button:focus,
div.calendar-header .calendar-title button:active{
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.2);
}

div.select-jb .ant-select-selector{
    border: 1px solid #d9d9d9!important;
}

div.select-jb .ant-select-selector:hover,
div.select-jb .ant-select-selector:focus-within {
    border: 1px solid #d9d9d9!important;
    box-shadow: none!important;
}

div.picker-jb,
div.picker-jb:hover,
div.drop-picker-jb{
    border: 1px solid #d9d9d9!important;
    box-shadow: none!important;
}

div.drop-time-picker-jb{
    border: none!important;
}

input.input-jb,
div.input-jb,
input.input-jb:hover,
input.input-jb.ant-input-focused,
input.input-jb:focus {
  border: 1px solid #d9d9d9!important;
  box-shadow: none!important;
}

div.select-jb-remove .ant-select-selection-item-remove,
div.select-jb-remove .ant-select-selection-item-content svg{
    display: none;
}

div.select-options-jb .ant-select-item{
    cursor: default;
}

div.select-options-jb .ant-select-item-option-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.select-options-jb .ant-select-item-option-content svg {
    cursor: pointer;
}

div.header-event-form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px 16px 0px;
    border-bottom: 1px solid #f0f0f0;
    margin-bottom: 16px;
}

div.header-event-form p{
    font-size: 16px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.85);
    margin-bottom: 0px;
}

div.preview-img-jb .ant-image-preview-mask{
    background-color: rgba(0, 0, 0, 1);
}

.custom-required::before{
    display: inline-block;
    margin-right: 4px;
    color: #ff4d4f;
    font-size: 14px;
    font-family: SimSun, sans-serif;
    line-height: 1;
    content: '*';
}

.custom-label-form{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 0px 8px;
}

.custom-label-form label .anticon{
    color: rgba(0,0,0,0.45);
    cursor: help;
}

.custom-label-form .label-options{
    display: flex;
    align-items: center;
    gap: 8px;
}

.custom-label-form .label-options .anticon{
    padding: 2px;
    border-radius: 50%;
}

.custom-label-form .label-options .anticon[disabled]{
    cursor: not-allowed;
}

.custom-label-form .label-options.default .anticon:hover{
    background-color: #f0f0f0;
}

.custom-label-form .label-options.revert .anticon:hover{
    background-color: #ffff;
}

span.input-jb-clear,
span.input-jb-clear:not(.ant-input-affix-wrapper-disabled):hover,
span.input-jb-clear:focus{
    border: 1px solid #d9d9d9!important;
    box-shadow: none!important;
}

span.input-with-clear,
span.input-with-clear:not(.ant-input-affix-wrapper-disabled):hover,
span.input-with-clear:focus{
    border: 1px solid black!important;
}

.highlight-text {
    background-color: #ffc069;
    padding: 0px;
}

/* Termina diseño bolsa de trabajo */

/* Nuevo diseño descripción perfil */
.competence_list{
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 500px);
    overflow: auto;
    gap: 16px;
}
.competence_content{
    display: flex;
    flex-direction: column;
    border: 1px solid #d9d9d9;
    background-color: #ffff;
    border-radius: 10px;
}
.competence_title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #d9d9d9;
    padding: 0px 8px;
}
.competence_title p{
    font-weight: 700;
    color: rgba(0, 0, 0, 0.85);
    margin-bottom: 0px;
}

.competence_level{
    display: flex;
    align-items: stretch;
}

.competence_level:not(:last-child){
    border-bottom: 1px solid #d9d9d9;
}

.competence_level_type:not(:first-child){
    border-left: 1px solid #d9d9d9;
}
.competence_level_type{
    display: flex;
    flex: 1 0 50%;
    padding: 0px 8px;
    justify-content: center;
}
/* Termina diseño descripción perfil */

/* Inicia diseño para solicitud de vacaciones */
.content_title_requets{
    display: flex;
    align-items: center;
    gap: 8px;
}

.content_title_requets .ant-image{
    width: 68px;
}
.content_title_requets .ant-image img{
    border-radius: 10px;
}

.content_title_requets_text{
    display: flex;
    flex-direction: column;
}

div.picker-range-jb{
    border: 1px solid transparent!important;
    box-shadow: none!important;
}

/* Termina diseño para solicitud de vacaciones */

@media (max-width: 768px) {
    /* .header-card .title-action-content{
        justify-content: flex-start;
    } */
    .header-card .title-action-content{
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
    }
    .header-card .content-end{
        width: 100%;
    }
    .header-card .title-action-text{
        font-size: 1.25rem;
        max-width: 100%;
    }
}

@media (max-width: 576px) {
    .header-card .title-action-text{
        font-size: 1rem;
    }
}

/* Vacaciones */
.holidays-cancelled{
    background-color: rgba(220, 53, 69, 0.2);
}

/* Botón simple */

.ant-btn-simple{
    font-weight: 400;
    border: 1px solid transparent;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
    cursor: pointer;
    height: 32px;
    padding: 4px 8px;
    font-size: 14px;
    border-radius: 10px;
    color: rgba(0, 0, 0, 0.85);
    border-color: #d9d9d9;
    background-color: #fff;
    transition: all 0.3s;
    display: flex;
    align-items: center;
    gap: 8px;
}

.ant-btn-simple .anticon{
    color: rgba(0, 0, 0, 0.25);
}