html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.ant-layout-footer{
  background: var(--primaryColor);
}

/* Styles  login by Pedro Leon*/
.containerPrincipal {
  height: 100vh;
  background: var(--primaryColor);
}

.SpreadsheetGrid__headCell{
  background-color: #1f2733 !important;
}

.loginContainer {
  height: 100vh;
  background: white;
  display: flex;
}
/* .card-login {
 height: 100vh;
 width: 100%;
} */

@media (max-width: 577px) {
  .card-login {
    display: none;
  }
}

.components-form-demo-normal-login .login-form {
  max-width: 300px;
}

.font-color-khor {
  color: var(--primaryColor) !important;
  font-weight: bold;
}

.font-color-khor label {
  color: var(--primaryColor);
  font-weight: bold;
}

/* styles dash*/
.components-layout-demo-fixed .logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
}
.site-layout .site-layout-background {
  background: #fff;
}
/* div#__next{
    height: 100% !important;
}
div#__next > section.layout{
    height: 100% !important;
} */

.back-white {
  background-color: #fff;
  border-radius: 20px;
}

.ant-layout-content > .container {
  margin-top: 30px;
}

.mainBreadcrumb {
  margin-bottom: 20px;
  padding-left: 50px;
}

.ant-tabs-content-holder {
  background-color: #fff;
}
.ant-tabs-nav {
  margin-bottom: 0 !important;
}
.form_header_import {
  background: rgba(16, 16, 16, 0.02) !important;
}

.form_header_black {
  background: white !important;
}

.form_header_black .ant-form-item-label label {
  background-color: white;
  /*color: white !important;*/
}

.icon_actions {
  margin: 0 10px;
}

header.ant-layout-header > ul {
  background-color: var(--primaryColor) !important;
}
header.ant-layout-header > ul > li.ant-menu-item-selected {
  background-color: var(--secondaryColor) !important;
}

header.ant-layout-header > ul > li.ant-menu-item-active,
li.ant-menu-submenu-active,
li.ant-menu-submenu-active::hover,
li.ant-menu-submenu-active:focus-within {
  background-color: var(--secondaryColor) !important;
  color: white;
}

header.ant-layout-header
  > ul
  > li.ant-menu-submenu-active
  > div[aria-expanded="true"] {
  color: #fff;
}

.ml-20 {
  margin-left: 20px;
}

.pointer {
  cursor: pointer;
}

.ant-breadcrumb {
  margin: 16px 0px;
}
.mainTable {
  margin-top: 20px;
}
.formPermission .ant-picker-disabled {
  background-color: #fff;
}
.formPermission .ant-picker-disabled input {
  color: #000;
}

.formPermission .ant-select-disabled > .ant-select-selector {
  background-color: #fff !important;
  color: #000 !important;
}
.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border-radius: 10px;
}

.formPermission .ant-input-number-disabled,
.ant-input-disabled {
  /* background-color: #fff !important; */
  /* color: #000 !important; */
}

.formFilterReports .ant-col .ant-form-item {
  margin-bottom: 0% !important;
}

.formFilterReports .ant-form-item {
  margin-bottom: 0% !important;
}

.formFilter .ant-col .ant-form-item {
  margin-bottom: 0% !important;
}

.formFilter .ant-form-item {
  margin-bottom: 0% !important;
}

.columnRightFilter {
  display: flex;
}

.columnRightFilter button {
  margin-top: auto;
}

.backLogin {
  background-image: var(--background_image) !important;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
.tabReports .ant-tabs-tab {
  padding: 8px 15px !important;
}
.tabReports .ant-tabs-tab .anticon {
  margin-right: 5px !important;
}

.btn-success {
  background-color: #73d13d;
  border: #73d13d;
}
.btn-success:hover {
  background-color: #95de64;
}
.notAllowed {
  height: calc(100vh - 100px);
  background-image: url("../public/images/Recurso3.png");
  background-position: "center";
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.Error404 {
  height: calc(100vh);
  width: 50%;
  margin-left: 25%;
  background-image: url("../public/images/404.svg");
  background-position: "center";
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: 50%;
}
.Error500 {
  height: calc(100vh);
  width: 50%;
  margin-left: 25%;
  background-image: url("../public/images/500.svg");
  background-position: "center";
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: 50%;
}
.cardH100 > .ant-card-body {
  height: 200px;
  display: flex;
  padding: 0px;
}

.div-card {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.NoData {
  width: 50%;
  margin-left: 25%;
  background-image: url("../public/images/imagen_search.png");
  background-position: "center";
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: 50%;
  height: 200px;
}

.menu-custom {
  background-color: var(--bluePrimary) !important;
  height: 64px !important;
}
.top-container-border-radius {
  background: #fff !important;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 30px;
  box-shadow: -1px 2px 10px 0px #88888842;
}
.container-border-radius {
  background: #fff !important;
  border-radius: 10px;
  padding: 5px 20px;
  box-shadow: -1px 2px 10px 0px #88888842;
}

.ant-table {
  border-radius: 10px;
  box-shadow: -1px 2px 10px 0px #88888842;
}
.ant-table-pagination-right {
  justify-content: center;
}

.ant-table-container table > thead > tr:first-child th:last-child {
  border-top-right-radius: 10px;
}
.ant-table-container table > thead > tr:first-child th:first-child {
  border-top-left-radius: 10px;
}

.item-is-individual {
  color: #8e88e7;
  font-size: 10px;
}

.item-not-individual {
  color: #e7b488;
  font-size: 10px;
}

/* .table-assignments .ant-table-tbody > tr > td {
  border-bottom: none;
} */

.table-assignments .ant-table-small .ant-table-tbody > tr > td {
  padding: 4px 8px;
}

.table-assignments .ant-table-container table > tbody > tr:nth-child(2) {
  border-top-left-radius: 10px;
}

.table-assignments
  .ant-table-container
  table
  > tbody
  > tr:nth-child(2)
  td:first-child {
  border-top-left-radius: 10px;
}

.table-assignments
  .ant-table-container
  table
  > tbody
  > tr:nth-child(2)
  td:last-child {
  border-top-right-radius: 10px;
}

.table-assignments .ant-table-container table > tbody > tr:last-child {
  border-bottom-left-radius: 10px;
}

.table-assignments
  .ant-table-container
  table
  > tbody
  > tr:last-child
  td:first-child {
  border-bottom-left-radius: 10px;
}

.table-assignments
  .ant-table-container
  table
  > tbody
  > tr:last-child
  td:last-child {
  border-bottom-right-radius: 10px;
}

/* .ant-table-container table > tbody > tr:hover > td{
  border-radius: 10px!important;
} */

.container-items-center {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.login-form-button {
  width: 100%;
}

.login-form-button:disabled {
  opacity: 0.5;
  color: #fff;
}

.ant-input,
.ant-form-item-control-input {
  border-color: var(--primaryColor) !important;
  border-radius: 10px;
}

.ant-input:hover,
.ant-input-focused,
.ant-input:focus {
  border-color: var(--secondaryColor) !important;
  border-right-width: 1px !important;
}

.ant-input-password {
  border-color: var(--primaryColor);
}

.ant-input-password:hover,
.ant-input-password-focused {
  border-color: var(--secondaryColor) !important;
  border-right-width: 1px !important;
}

.ant-select-selector {
  border: 1px solid var(--primaryColor) !important;
}

.ant-select-selector:hover,
.ant-select-selector:focus-within {
  border: 1px solid var(--secondaryColor) !important;
}

.ant-picker {
  border: 1px solid var(--primaryColor) !important;
  border-radius: 10px;
}

.ant-picker:hover,
.ant-picker-focused {
  border-color: var(--secondaryColor) !important;
  border-right-width: 1px !important;
}

.ant-picker-dropdown {
  border: 1px solid var(--primaryColor) !important;
}

.ant-picker-today-btn {
  color: var(--primaryColor);
}

.ant-picker-today-btn:hover {
  color: var(--primaryColor);
}

.ant-btn {
  background-color: var(--primaryColor) !important;
  border-color: var(--primaryColor) !important;
  border-radius: 10px;
}

.ant-btn:hover {
  background-color: var(--secondaryColor) !important;
  border-color: var(--secondaryColor) !important;
  color: var(--fontSecondaryColor) !important;
}

.ant-btn-primary {
  background-color: var(--primaryColor) !important;
  border-color: var(--primaryColor) !important;
}

.ant-btn-primary:hover {
  background-color: var(--secondaryColor) !important;
  border-color: var(--secondaryColor) !important;
  color: var(--fontSecondaryColor) !important;
}

.ant-btn[disabled]{
  opacity: 0.8;
}

.text-link {
  font-weight: 500;
  text-decoration: underline;
  color: var(--secondaryColor);
}

.text-link :hover {
  font-weight: 500;
  text-decoration: underline;
  color: var(--primaryColor);
}

.btn-copy-text {
  border-radius: 5px;
  justify-content: center;
  background-color: #fff;
  border: 1px rgb(224, 218, 218) solid;
  width: 90%;
}

.btn-copy-text-noborder {
  border: 0px;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: #1d90ff;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 10px;
  position: absolute;
  z-index: 1 !important;
  bottom: 150%;
  left: 50%;
  margin-left: -28px;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #1d90ff transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.center-content {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.ant-spin-dot-item {
  background-color: var(--secondaryColor);
}

.ant-spin-text {
  color: var(--primaryColor);
}

.title-form-self-register {
  padding: 1%;
  color: white;
  font-weight: bold;
  font-size: 20px;
  background-color: var(--primaryColor);
}

.ant-modal-title {
  color: var(--primaryColor);
}

.ant-form-item {
  color: var(--primaryColor) !important;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: var(--primaryColor) !important;
  font-weight: 500;
}

.ant-tabs-tab:hover {
  color: var(--primaryColor) !important;
}

.ant-btn > span {
  display: inline-block;
  color: var(--fontSpanColor) !important;
}

.ant-btn ant-btn-dangerous {
  color: var(--primaryColor) !important;
}

.ant-switch-checked {
  background-color: var(--primaryColor) !important;
}
.ant-pagination-item-active a {
  color: var(--primaryColor) !important;
}
.ant-pagination-item-active {
  border-color: var(--primaryColor) !important;
}

header.ant-layout-header {
  background-color: transparent !important;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: var(--primaryColor) !important;
  border-color: var(--primaryColor) !important;
}
.ant-checkbox-inner {
  border-radius: 5px;
}

.btn-add-person {
  background: var(--primaryColor);
  font-weight: "bold";
  color: var(--fontSpanColor);
}

.btn-filter {
  background: var(--primaryColor);
  font-weight: "bold";
  color: var(--fontSpanColor);
  margin-top: auto;
  border-radius: 10px;
}

.ant-tooltip-inner {
  background: var(--primaryColor) !important;
}

.ant-tooltip-arrow-content {
  background: var(--primaryColor) !important;
}

.large-uploader .ant-upload.ant-upload-select-picture-card {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.select-kuiz .ant-select-selector {
  border-color: #d9d9d9 !important;
}
.no-content-kuiz .ant-collapse-content {
  display: none !important;
}
.collapse-no-content {
  padding: 10px;
  border-bottom: 1px solid #d9d9d9;
  font-size: 16px;
  text-align: center;
}
.calendar .months-container .month-container {
  float: left;
  text-align: center;
  height: 200px;
  padding: 0px;
  margin-bottom: 25px;
}

.search_header {
  background-color: transparent;
  width: 300px;
  border: 1px solid #878787;
  border-radius: 11px;
  color: #878787;
  font-weight: 100;
}
.ant-input-affix-wrapper {
  border-radius: 10px;
}
.ant-input-affix-wrapper-focused {
  border: 1px solid #878787 !important;
}
.input[type="text"],
input[type="password"],
input[type="number"],
textarea {
  border-radius: 10px;
}
.search_header input {
  background-color: transparent;
  color: #878787;
  font-size: 14px;
}
.search_header .ant-input-prefix span {
  color: #878787 !important;
}

.ant-breadcrumb span {
  /* color: var(--primaryColor) */
  color: #000;
}
.ant-form-item-label > label {
  color: rgba(0, 0, 0, 0.85) !important;
}
.ant-input-number {
  border-radius: 10px;
}
/*Login styles*/

/*Border radius table*/
.ant-table.ant-table-small {
  border-radius: 10px;
}

.ant-table-content {
  border-radius: 10px;
}

/*Border radius modal*/
.ant-modal-header {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.ant-modal-content {
  border-radius: 10px;
}

/*Border radius card*/
.ant-card-bordered {
  border-radius: 10px;
  box-shadow: -1px 2px 10px 0px #88888842;
}

.container-title-tab {
  display: flex;
  align-items: center;
}

.site-layout .site-layout-background {
  border-radius: 20px;
}

.icon-intranet {
  width: 15px !important;
}
.ant-tooltip.tooltip-competence{
  width: 300px!important;
  max-width: 300px!important;
}
.tooltip-scroll-content{
  max-height:220px;
  overflow:auto
}
.tooltip-scroll-content::-webkit-scrollbar {
  width: 3px;
}

.tooltip-scroll-content::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.5);
}

.tooltip-scroll-content::-webkit-scrollbar-thumb {
  background-color: darkgrey;
}

@media screen and (max-width: 991px) {

  .ant-layout-sider {
    position: absolute;
    z-index: 2;
    height: calc(100vh - 64px);
    overflow: hidden;
  }
  .ant-layout-sider .ant-layout-sider-children{
    overflow: auto;
  }
  .sider-overlay{
    width: 100%;
    height: calc(100vh - 64px);
    position: absolute;
    z-index: 2;
    background: rgba(0,0,0,0.5);
  }
  .ant-layout-content.main_container{
    margin-left: 80px;
    /* max-height: calc(100vh - 64px); */
    overflow: auto;
  }
}

@media screen and (max-width: 880px) {
  .text-title-tab {
    display: none;
  }
  .container-title-tab {
    font-size: 18px;
  }
  .div-main-layout {
    padding: 10px 10px !important;
  }
}

/*Media queryes*/
@media screen and (max-width: 750px) {
  .ant-tabs-left > .ant-tabs-nav .ant-tabs-tab,
  .ant-tabs-right > .ant-tabs-nav .ant-tabs-tab,
  .ant-tabs-left > div > .ant-tabs-nav .ant-tabs-tab,
  .ant-tabs-right > div > .ant-tabs-nav .ant-tabs-tab {
    padding: 8px 10px;
  }
  .title-tab-left {
    display: none;
  }
}

@media screen and (max-width: 600px) {

  h1.ant-typography, div.ant-typography-h1, div.ant-typography-h1 > textarea, .ant-typography h1{ font-size: 28px}
  h2.ant-typography, div.ant-typography-h2, div.ant-typography-h2 > textarea, .ant-typography h2{ font-size: 24px}
  h3.ant-typography, div.ant-typography-h3, div.ant-typography-h3 > textarea, .ant-typography h3{ font-size: 20px}
  h4.ant-typography, div.ant-typography-h4, div.ant-typography-h4 > textarea, .ant-typography h4{ font-size: 18px}
  h5.ant-typography, div.ant-typography-h5, div.ant-typography-h5 > textarea, .ant-typography h5{ font-size: 16px}

  .ant-layout-sider {
/*    flex: 0 0 80px !important;
    max-width: 80px !important;
    min-width: 80px !important;
    width: 80px !important;*/
   /* position: absolute;
    z-index: 2;
    height: 100vh;
    overflow: auto;*/
  }
 /* .sider-overlay{
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 2;
    background: rgba(0,0,0,0.5);
  }
  .ant-layout-content.main_container{
    margin-left: 80px;
    max-height: 100vh;
    overflow: auto;
  }*/
  .ant-layout-sider-trigger {
   /* width: 80px !important;*/
  }
  .search_header {
    display: none;
  }

  .ant-layout-header{
    padding: 0 16px;
  }
  .header__logo,
  .ant-layout-header .ant-image-img{
    max-width: 85px!important;
  }
  .ant-layout-header .ant-space.ant-space-horizontal{ gap: 16px!important; }
  .ant-layout-header .ant-dropdown-trigger svg{
    font-size: 24px!important;
  }
  .header__dropdown_apps{
    font-size: 24px!important;
  }
}

.ImportPayroll {
  height: calc(50vh);
  width: 50%;
  margin-left: 25%;
  background-image: url("../public/images/Import_payroll_icon.svg");
  background-position: "center";
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: 60%;
}

.CheckGroup .ant-checkbox-wrapper {
  color: #000 !important;
  margin: 2%;
}

.ant-select-item-option-content {
  white-space: normal;
  word-break: break-all;
}

.ant-radio-checked .ant-radio-inner {
  border-color: var(--primaryColor);
  
}

.ant-radio-inner::after {
  background-color: var(--primaryColor);
}
