html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Styles  login by Pedro Leon*/
.containerPrincipal {
  height: 100vh;
  background: #3d78b9;
}

.loginContainer {
  height: 100vh;
  background: white;
  display: flex;
}
/* .card-login {
 height: 100vh;
 width: 100%;
} */

@media (max-width: 577px) {
  .card-login {
    display: none;
  }
}

.components-form-demo-normal-login .login-form {
  max-width: 300px;
}

.font-color-khor {
  color: #252593 !important;
  font-weight: bold;
}

.font-color-khor label {
  color: #252593;
  font-weight: bold;
}
.font-color-khor label {
  color: #252593;
  font-weight: bold;
}

/* styles dash*/
.components-layout-demo-fixed .logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
}
.site-layout .site-layout-background {
  background: #fff;
}
/* div#__next{
    height: 100% !important;
}
div#__next > section.layout{
    height: 100% !important;
} */

.back-white {
  background-color: #fff;
}

.ant-layout-content > .container {
  margin-top: 30px;
}

.mainBreadcrumb {
  margin-bottom: 20px;
}

.ant-tabs-content-holder {
  background-color: #fff;
}
.ant-tabs-nav {
  margin-bottom: 0 !important;
}

.icon_actions {
  margin: 0 10px;
}

header.ant-layout-header {
  padding-left: 10px;
  padding-right: 10px;
  background-color: var(--bluePrimary) !important;
}
header.ant-layout-header > ul {
  background-color: var(--bluePrimary) !important;
}
header.ant-layout-header > ul > li.ant-menu-item-selected {
  background-color: var(--blueSecondary) !important;
}

header.ant-layout-header > ul > li.ant-menu-item-active,
li.ant-menu-submenu-active,
li.ant-menu-submenu-active::hover,
li.ant-menu-submenu-active:focus-within {
  background-color: var(--blueSecondary) !important;
  color: white;
}

header.ant-layout-header
  > ul
  > li.ant-menu-submenu-active
  > div[aria-expanded="true"] {
  color: #fff;
}

.ml-20 {
  margin-left: 20px;
}

.pointer {
  cursor: pointer;
}

.ant-breadcrumb {
  margin: 16px 0px;
}
.mainTable {
  margin-top: 20px;
}
.formPermission .ant-picker-disabled {
  background-color: #fff;
}
.formPermission .ant-picker-disabled input {
  color: #000;
}

.formPermission .ant-select-disabled > .ant-select-selector {
  background-color: #fff !important;
  color: #000 !important;
}

.formPermission .ant-input-number-disabled,
.ant-input-disabled {
  background-color: #fff !important;
  color: #000 !important;
}

li.ant-menu-submenu-selected {
  background-color: #1d90ff !important;
}

.formFilterReports .ant-col .ant-form-item {
  margin-bottom: 0% !important;
}

.formFilterReports .ant-form-item {
  margin-bottom: 0% !important;
}

.formFilter .ant-col .ant-form-item {
  margin-bottom: 0% !important;
}

.formFilter .ant-form-item {
  margin-bottom: 0% !important;
}

.columnRightFilter {
  display: flex;
}

.columnRightFilter button {
  margin-top: auto;
}

.backLogin {
  background-image: url("../public/images/banner_staff_iu.jpg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
.tabReports .ant-tabs-tab {
  padding: 8px 15px !important;
}
.tabReports .ant-tabs-tab .anticon {
  margin-right: 5px !important;
}

.btn-success {
  background-color: #73d13d;
  border: #73d13d;
}
.btn-success:hover {
  background-color: #95de64;
}
.notAllowed {
  height: calc(100vh - 100px);
  background-image: url("../public/images/Recurso3.png");
  background-position: "center";
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.Error404 {
  height: calc(100vh);
  width: 50%;
  margin-left: 25%;
  background-image: url("../public/images/404.svg");
  background-position: "center";
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: 50%;
}
.Error500 {
  height: calc(100vh);
  width: 50%;
  margin-left: 25%;
  background-image: url("../public/images/500.svg");
  background-position: "center";
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: 50%;
}
.cardH100 > .ant-card-body {
  height: 100%;
  display: flex;
}
/* .formFilter{

} */
.NoData {
  /* height: calc(50vh); */
  width: 50%;
  margin-left: 25%;
  background-image: url("../public/images/imagen_search.png");
  background-position: "center";
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: 50%;
  height: 200px;
}

.menu-custom {
  background-color: var(--bluePrimary) !important;
  height: 64px !important;
}

.container-items-center {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
