.frontImage :hover {
  text-align: center;
  opacity: 0.7;
  background: black;
  content: "hola";
}

.form-details-person .ant-form-item .ant-form-item-label{
  font-weight: bold;
}

.ant-table-colla .ant-spin-container::after{
  background-color: transparent;
}
