/* style={{
            marginTop: "-30px",
            minHeight: "calc(100vh - 134px)",
            padding: "30px 50px",
          }} */
.div-main-layout {
  /* margin-top: -30px; */
  /* min-height: calc(100vh - 134px); */
  padding: 30px 50px;
}

@media screen and (min-width: 300px) and (max-width: 400px) {
  .div-main-layout {
    padding-top: 30px ;
    padding-bottom:5px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .button-filter-person {
    padding: 5px;
  }
  .margin-buton-search {
    margin: 5px;
  }
}

@media screen and (max-width: 884px) {
  .custom-tbl-assessment .ant-table-container table > tbody > tr > td:nth-child(3) > .ant-progress .ant-progress-outer {
      display: none;
  }
  .custom-tbl-assessment .ant-table-container table > tbody > tr > td:last-child > button {
      width: 50px;
  }
  .custom-tbl-assessment .ant-table-container table > tbody > tr > td:last-child > button span {
      display: none;
  }
  .custom-tbl-assessment .ant-table-container table > tbody > tr > td:last-child > button svg {
      display: block!important;
  }
}
